.group.index{
  h2{
    font-size: 20px;
    padding: 15px;
  }
  .box{
    position: relative;
    .comment{
      position: absolute;
      right: 20px;
    }
  }
}
.group.show{
  .thumbnail{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background: #eee;
    overflow: hidden;
    margin: 10px auto;
  }
  p{
    text-align: center;
    margin: 10px;
  }
  .members{
    display: flex;
    flex-direction: row;
    margin: auto;
    .member{
      .image{
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background: #eee;
        overflow: hidden;
        margin: 10px auto;
      }
    }

  }
}
.group.new{
  .top-bar{
    font-size: 12px;
    font-weight: lighter;
    height: 20px;
    line-height: 20px;
  }
  .wrapper{
    display: flex;
    flex-direction: row;
    .image{
      width: 80px;
      height: 80px;
      border-radius: 40px;
      overflow: hidden;
      margin: 15px;
    }
    .information{
      margin: 15px;
      form.simple_form.new_group{
        position: relative;
        color: #333;
        .form-group{
          height: 30px;
          margin: 5px auto;
          position: relative;
          label{
            font-size: 13px;
          }
          input{
            color: #7788aa;
            position: absolute;
            left: 150px;
            font-size: 12px;
            line-height: 20px;
            &:focus{
              outline: none;
              border: 1px solid #ddd;
            }
          }
        }
        .add{
          position: absolute;
          a{
            position: absolute;
            top: 30px;
            left: 0;
            right: 0;
            color: #555;
            text-decoration: none;
            text-align: center;
            font-size: 20px;
            line-height: 55px;
            display: block;
            width: 60px;
            height: 60px;
            border-radius: 30px;
            background: #eee;
          }
          // .action{
          //   position: absolute;
          //   top: 80px;
          // }
        }
        .nested_fields.nested_group_users_groups{
          position: relative;
          display: flex;
          flex-direction: row;
          .form-control.select.required{
            position: absolute;
            left: 150px;
            border: 1px solid #aaa;
            width: 130px;
            height: 30px;
            font-size: 15px;
          }
          a{
            position: absolute;
            left: 300px;
            top: 0;
            text-decoration: none;
            color: #333;
            line-height: 20px;
            border: 1px solid #aaa;
            border-radius: 3px;
            padding: 3px;
            margin: 6px 0px;
            font-size: 10px;
            &:hover{
              background: #eee;
            }
          }
        }
        #error_explanation.alert.alert-danger{
          position: fixed;
          bottom: 0;
          border: 1px solid #aaa;
        }
      }
    }
  }
}
.group.edit{
  h2{
    margin: 15px 0;
    padding: 10px;
  }
  .image{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background: #eee;
    overflow: hidden;
    margin: 10px auto;
    cursor: pointer;
    .mask{
      position: absolute;
      top: 90px;
      width: 80px;
      height: 80px;
      border-radius: 40px;
      &:hover{
        background: rgba(255,255,255,.3);
      }
    }
  }
  .thum{
    display: none;
  }
  input.btn{
    width: 100px;
    cursor: pointer;
    margin: auto;
  }
}
