// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.group.talking{
  background: white;
  .messages{
    margin: 0 10px 100px;
    .message{
      position: relative;
      height: 80px;
      .green{
        p{
          right: 0;
          background: rgb(190,241,140);
        }
      }
      .white{
        position: relative;
        .image{
          position: absolute;
          left: 0;
          width: 40px;
          height: 40px;
          border-radius: 20px;
          background: #ddd;
          overflow: hidden;
        }
        .post-man{
          position: absolute;
          left: 45px;
        }
        p{
          top: 15px;
          left: 45px;
          background: rgb(228,232,235);
        }
      }
      p{
        position: absolute;
        padding: 10px;
        border-radius: 7px;
      }
    }
  }
  form{
    position: fixed;
    bottom: 0;
    width: calc(100% - 60px);
    margin: auto;
    background: white;
    .label{
      display: none;
    }
    .content-area{
      width: 100%;
    }
    .btn{
      border-radius: 0;
      border: 1px solid rgb(140, 200, 250);
      font-size: 12px;
      color: #fff;
      background: rgb(100, 200, 250);
      padding: 5px;
    }
  }
}
