.user.edit{
  .wrapper{
    display: flex;
    flex-direction: row;
    .image{
      width: 80px;
      height: 80px;
      border-radius: 40px;
      overflow: hidden;
      margin: 15px;
      cursor: pointer;
      .mask{
        position: absolute;
        top: 35px;
        width: 80px;
        height: 80px;
        border-radius: 40px;
        &:hover{
          background: rgba(255,255,255,.3);
        }
      }
    }
    .information{
      margin: 15px;
      form.simple_form{
        color: #333;
        .thum{
          display: none;
        }
        .form-group{
          height: 30px;
          position: relative;

          label{
            font-size: 13px;
          }
          input{
            color: #7788aa;
            position: absolute;
            left: 150px;
            border: none;
            font-size: 12px;
            line-height: 20px;
            cursor: pointer;
            &:hover{
              border: 1px solid #ddd;
            }
            &:focus{
              outline: none;
              border: 1px solid #ddd;
              cursor: text;
            }
          }
        }
        input{
          cursor: pointer;
        }
      }
    }
  }
}
